ul { list-style: none; }
.gallery {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 1440px;
    margin: auto;
    margin-top: 24px;
}

.gallery-item {
 width: 300px;
    width: calc((100% - 48px) / 3);
}

.gallery-item:hover {
transform: scale(1.05);
}


.gallery-item img {
    width: 100%;
   }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(46, 47, 66, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
width: 100%;

}